$white: #ffffff;
$black: #212121;
$black-50: rgba($black, 0.5);

$gray-dark: #2E3033;
$gray-middle: #E6E6E6;
$gray-lite: #eef0f5;

$blue-dark: #404b68;
$blue-middle: #4d5a7c;
$blue-lite: #009ddc;

$green: #9fe218;
$green-dark: #96d418;

$red: #f73656;
$red-dark: #ec1c4f;

$yellow: #ffe17f;
$yellow-dark: #ffd54c;

:export {
  white: $white;
  black: $black;
  black-50: $black-50;

  gray-dark: $gray-dark;
  gray-lite: $gray-lite;
  gray-middle: $gray-middle;

  blue-dark: $blue-dark;
  blue-middle: $blue-middle;
  blue-lite: $blue-lite;

  red: $red;
  red-dark: $red-dark;

  green: $green;
  green-dark: $green-dark;

  yellow: $yellow;
  yellow-dark: $yellow-dark;
}
