$display-xl: 1920px;
$display-lg: 1440px;
$display-md: 1024px;
$display-sm: 768px;
$display-xs: 320px;

:export {
  display-xl: $display-xl;
  display-lg: $display-lg;
  display-md: $display-md;
  display-sm: $display-sm;
  display-xs: $display-xs;
}
