@import './vars/vars.module';
@import './colors/colors.module';
@import './breakpoints/breakpoints.module';

@import 'mixins';

:root {
  // colors
  --color-white: #{$white};
  --color-black: #{$black};
  --color-black-50: #{$black-50};

  --color-gray-dark: #{$gray-dark};
  --color-gray-lite: #{$gray-lite};
  --color-gray-middle: #{$gray-middle};

  --color-blue-dark: #{$blue-dark};
  --color-blue-middle: #{$blue-middle};
  --color-blue-lite: #{$blue-lite};

  --color-red: #{$red};
  --color-red-dark: #{$red-dark};

  --color-green: #{$green};
  --color-green-dark: #{$green-dark};

  --color-yellow: #{$yellow};
  --color-yellow-dark: #{$yellow-dark};

  // breakpoint
  --display-xl: #{$display-xl};
  --display-lg: #{$display-lg};
  --display-md: #{$display-md};
  --display-sm: #{$display-sm};
  --display-xs: #{$display-xs};

  // vars
  --transition: #{$transition}
}
